div {
  margin-bottom: 25px;

  textarea {
    width: 100%;
    height: 200px;
  }

  p {
    span.tag {
      border: 1px dashed #AAAAFF;
      cursor: pointer;
      &:hover {
        background-color: #DDDDFF;
      }
    }
  }
}

#docs {
  position: relative;
  width: 100%;

  app-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
  }
}

#wordParts, #comments {
  width: 50%;
  float: left;
}

#comments {
  div {
    background-color: #EEEEEE;
    margin-bottom: 10px;
    padding: 5px;
  }
}
