<div>
    <b>
        Raw HTTP request:
    </b>
</div>
<div>
    <textarea [(ngModel)]="input" (ngModelChange)="updateLines($event)"></textarea>
    <button (click)="loadExample()">^ Load example</button>
</div>
<div>
    <b>
        Documentation:
    </b>
</div>
<div id="docs">
    <app-arrow *ngFor="let part of wordPartsWithComments()"></app-arrow>
    <div id="wordParts">
        <p *ngFor="let line of lines">
            <span *ngFor="let word of line.words"><span *ngFor="let part of word.parts()" [class.tag]="part.hasTag" (click)="addComment(part)">{{ part.text }}</span>{{ (word.trailingSpace ? '&nbsp;' : '') }}</span>
        </p>
    </div>
    <div id="comments">
        <div *ngFor="let part of wordPartsWithComments()">
            {{ part.comment }}
        </div>
    </div>
    <div class="clear"></div>
</div>
